
@font-face {
  font-family: old-standard-regular;
  src: url(/russia-ukraine-war/fonts/old-standard/regular.otf);
}

@font-face {
  font-family: old-standard-italic;
  src: url(/russia-ukraine-war/fonts/old-standard/italic.otf);
}

body {
  font-family:old-standard-regular;
  
}

i {
  font-family:old-standard-italic;
}

.indent_1 {
  padding-left:0.25in;
}

.indent_2 {
  padding-left:0.50in;
}

.indent_3 {
  padding-left:0.75in;
}

.indent_4 {
  padding-left:1.00in;
}

.indent_5 {
  padding-left:1.25in;
}

.indent_6 {
  padding-left:1.50in;
}